# Install our own helios package in editable mode
-e .

# Core web framework and server
fastapi
gunicorn
uvicorn[standard]

# High-level Google Cloud clients
google-cloud-aiplatform
google-cloud-firestore
google-cloud-secret-manager
google-cloud-storage
google-cloud-vision
google-cloud-error-reporting

# Generative AI client
google-generativeai

# Core utilities and data processing
loguru
pydantic
python-dotenv
pandas

# Other direct dependencies
pytrends
gspread

